<h1><%= t('headings.event.list') %></h1>

<div class="my-2 py-md-3">
  <%= link_to t('links.events.new'), new_event_path, class: "btn btn-success" %>
</div>

<div class="row py-2 my-4">
  <%= render partial: 'events/event', collection: @events %>
</div>

