<p><%= t('mail.greeting') %></p>
<p>Кто-то сделал запрос на изменение вашего пароля.</p>
<p>Если это были не вы, то просто пригнорируйте это письмо.</p>
<p>Вы можете изменить пароль по ссылке ниже.</p>
<p>Ваш пароль не будет изменен, пока вы не перейдете по ссылке и не создадите новый.</p>
<p><%= link_to t('links.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>
